<!-- Webserver/info.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Information</title>
    <link rel="stylesheet" type="text/css" href="/info.css">
</head>
<body>
    <div class="art">
        <h2>{{.Name}}</h2>
        <a href=".." class="infoName"><h3>Home Page</h3></a>  <!-- .. to go back to the main page -->
        <p><b>ID:</b> {{.Id}}</p>
        <p><b>Creation Date:</b> {{.CreationDate}}</p>
        <p><b>First Album:</b> {{.FirstAlbum}}</p>
        <p><b>Members:</b><br> {{range .Members}}{{.}}<br> {{end}}</p>

        <p> <b> ConcertDates:</b> {{range .ConcertDates}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </p>

       <p> <b> Locations:</b> {{range .Locations}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </p>
                
                <p><b>Relations:</b><br>
                
                {{range $key, $value := .Concerts}}
                {{$key}}
                    <ul>{{range $value}}
                         {{.}}
                        {{end}}
                    </ul>
                {{end}}  
        </p>   
    </div>    
</body>
</html>
